      <div class="editdiv">
        <label  class="edit required">
          {{labelText}}
        </label>
        <span class="value ">
          <span style="display:inline">
                  <input  type="text" maxlength="3"  #fahr="ngModel"
                          [(ngModel)]="valeur_1" required
                          class="form-control" (change)="update_1()"
                         style="width:25px; float: left; text-transform: uppercase;">
                <span style="padding-right:3px;"> - </span>
                <input  type="text" required
                       #fahr="ngModel" [(ngModel)]="valeur_2" class="form-control" (change)="update_2()"
                        maxlength="2"  style="width:25px; text-transform: uppercase;">
                <input  #fahr="ngModel" [(ngModel)]="valeur_3" class="form-control" (change)="update_3()"
                        type="text" name="kennzeichenBlock3" required
                        maxlength="4"  style="width:40px">

             <div *ngIf="fahr.invalid && (fahr.dirty || fahr.touched || submittedAlready) && isRequired"  class="errors" style="color: #a31f42;">
                Wert erforderlich
            </div>

          </span>
      </span>
      </div>

