<div class="container spacer">
<div class="panel panel-primary">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <h3>Infos: </h3>
    <div>
      <ul class="list-group">
        <li class="list-group-item">ID: <strong>{{infos.id}}</strong></li>
        <li class="list-group-item">Name: <strong>{{infos.nom}}</strong></li>
        <li class="list-group-item">Vorname:<strong>{{infos.prenom}}</strong></li>
        <li class="list-group-item">Password:<strong>{{infos.password}}</strong></li>
        <li class="list-group-item">Email: <strong>{{infos.email}}</strong></li>
        <li class="list-group-item">Tel: <strong>{{infos.tel}}</strong></li>
        <li class="list-group-item">Date de Naissance: <strong>{{infos.dateNaissance}}</strong></li>
      </ul>
    </div>
  </div>
    <br/>
  <div>
    <button class="btn btn-info" (click)="onChercher()">Zurück</button>
  </div>
</div>
</div>
