<div class="panel " id="fahrzeugAngaben">
  <div class="panel-header " id="fahrzeugAngaben_header">Fahrzeugangaben</div>
  <div class="panel-body " id="fahrzeugAngaben_body">

    <!-- kennzeichen-->
    <app-textblock [labelText]="'Kennzeichen (z.B. A-B 123)'"
                   [isRequired]="true"
                   name="kennzeichen1"
                   [(valeur_1)]="fahrzeuganbagen.kennzeichen1"
                   [(valeur_2)]="fahrzeuganbagen.kennzeichen2"
                   [(valeur_3)]="fahrzeuganbagen.kennzeichen3"
                   [submittedAlready]="submittedAlready">

    </app-textblock>

    <app-combobox [labelText]="'Zulassungsbezirk'"
                  [listValues]="zulassungsbezirk"
                  [isRequired]="true"
                  name="zulassungsbezirk"
                  [(valeur)]="fahrzeuganbagen.zulassungsbezirk_ein"
                  [submittedAlready]="submittedAlready">

    </app-combobox>

    <!-- ErstzulassungDatum-->
    <app-datefeld [labelText]="'Erstzulassungsdatum'"
                  [isRequired]="true"
                  name="erstzulassungsdatum"
                  [(valeur)]="fahrzeuganbagen.erstzulassungsdatum"
                  [submittedAlready]="submittedAlready">

    </app-datefeld>

    <app-datefeld [labelText]="'Datum des Fahrzeugerwerbs'"
                  [isRequired]="true"
                  name="datumFahrzeugerwerb"
                  [(valeur)]="fahrzeuganbagen.datumFahrzeugerwerb"
                  [submittedAlready]="submittedAlready">

    </app-datefeld>

    <app-combobox [labelText]="'Erstbesitz'"
                  [listValues]="erstbesitz"
                  [isFragezeichen]="true"
                  name="erstbesitz"
                  [(valeur)]="fahrzeuganbagen.erstbesitz_ein"
                  [submittedAlready]="submittedAlready">

    </app-combobox>

    <div class="editdiv">
        <app-textfeld [labelText]="'KFZ-Suchfeld'"
                      [isFragezeichen]="true"
                      [unit]="' Modell PS KW ccm³ HSN TSN'"
                      name="name"
                      [(valeur)]="fahrzeuganbagen.kFZSuchfeld"
                      [submittedAlready]="submittedAlready">

        </app-textfeld>
    </div>
							<!-- herstellerNr-->
    <div class="editdiv">
        <app-textfeld [isFragezeichen]="true"
                      [labelText]="'Hersteller-Nr.'"
                      [isRequired]="true"
                      name="herstellerNr"
                      [(valeur)]="fahrzeuganbagen.herstellerNr"
                      [submittedAlready]="submittedAlready">

        </app-textfeld>
    </div>
    <!-- typSchluessel-->
    <div class="editdiv">
        <app-textfeld [isFragezeichen]="true"
                      [labelText]="'Typschlüssel-Nr'"
                      [isRequired]="true"
                      maxlength="40"
                      id="typschluesselNr"
                      name="name"
                      [(valeur)]="fahrzeuganbagen.typschluesselNr"
                      [submittedAlready]="submittedAlready">

        </app-textfeld>
    </div>
							<!-- fahrzeugMarke-->
    <div class="editdiv">
        <app-textfeld [labelText]="'Fahrzeugmarke'"
                      name="fahrzeugmarke"
                      [(valeur)]="fahrzeuganbagen.fahrzeugmarke"
                      [submittedAlready]="submittedAlready">

        </app-textfeld>
    </div>
    <!-- fahrzeugTyp-->
    <div class="editdiv">
        <app-textfeld [labelText]="'Fahrzeugtyp'"
                      name="fahrzeugtyp"
                      [(valeur)]="fahrzeuganbagen.fahrzeugtyp"
                      [submittedAlready]="submittedAlready">
        </app-textfeld>
    </div>
    <!-- fahrgestellNr-->
    <div class="editdiv">
        <app-textfeld [labelText]="'Fahrgestell-Nr.'"
                      [isRequired]="true"
                      name="fahrgestellNr"
                      [(valeur)]="fahrzeuganbagen.fahrgestellNr"
                      [submittedAlready]="submittedAlready">

        </app-textfeld>
    </div>

    <!-- KilometerStand-->
    <div class="editdiv">
        <app-textfeld [unit]="' km'"
                      [labelText]="'Aktueller Kilometerstand'"
                      [isRequired]="true"
                      name="aktuellerKilometerstand"
                      [(valeur)]="fahrzeuganbagen.aktuellerKilometerstand"
                      [submittedAlready]="submittedAlready">

        </app-textfeld>
    </div>
    <!-- fahrzeugNeuWert-->
    <div class="editdiv">
        <app-textfeld [isFragezeichen]="true"
                      [labelText]="'Fahrzeugneuwert'"
                      [unit]="' €'"
                      [isRequired]="true"
                      name="fahrzeugneuwert"
                      [(valeur)]="fahrzeuganbagen.fahrzeugneuwert"
                      [submittedAlready]="submittedAlready">
        </app-textfeld>
    </div>
    <!-- derzFahrzeugWert-->
    <div class="editdiv">
        <app-textfeld [isFragezeichen]="true"
                      [labelText]="'derzeitiger Fahrzeugwert'"
                      [unit]="' €'"
                      [isRequired]="true"
                      name="derzeitigerFahrzeugwert"
                      [(valeur)]="fahrzeuganbagen.derzeitigerFahrzeugwert"
                      [submittedAlready]="submittedAlready">
        </app-textfeld>

    </div>

    <!-- Sonderausstattung-->
    <div class="editdiv">
        <app-textfeld [labelText]="'Sonderausstattungen'"
                      name="sonderausstattungen"
                      [(valeur)]="fahrzeuganbagen.sonderausstattungen"
                      [submittedAlready]="submittedAlready">

        </app-textfeld>
    </div>


    <!-- Assistenzsysteme -->
  </div>
</div>
