<div class="panel " >
  <div class="panel-header " tooltip="Programm gilt für PKW bei überwiegend privater Nutzung">
    <label >
      KFZ-Versicherung (PKW)
      <img id="infoSymbol" src="/assets/images/info.png" class="headerInfoImage" />
    </label>
  </div>
  <form #f="ngForm" (ngSubmit)="saveKfzVersicherung(f.value)">
   <div class="panel-body ">
      <app-combobox [labelText]="'Versicherungsnehmer'"
                    name="versicherungsnehmer"
                    [(valeur)]="kvzVersicherung.versicherungsnehmer"
                    [listValues]="versicherungsnehmern"
                    [submittedAlready]="submittedAlready"
                    [iswaehlenNotDefault]="true">
      </app-combobox>
      <app-combobox [labelText]="'Geschäftsvorfall'"
                    [listValues]="geschaeftsvorfall"
                    name="geschaeftsvorfall"
                    [(valeur)]="kvzVersicherung.geschaeftsvorfall"
                    [isRequired]="true"
                    [submittedAlready]="submittedAlready">
      </app-combobox>
    </div>

    <!---->
  <app-bestehender-vertrag   [submittedAlready]="submittedAlready" [bestehenderVertrag]="kvzVersicherung.bestehenderVertrag"></app-bestehender-vertrag>
       <div class="panel-body">

         <app-datefeld [labelText]="'Vertragsbeginn Neuvertrag'"
                       [isFragezeichen]="true"
                       name="vertragsbeginnNeuvertrag"
                       [isRequired]="true"
                       [(valeur)]="kvzVersicherung.vertragsbeginnNeuvertrag"
                       [submittedAlready]="submittedAlready">
         </app-datefeld>

         <app-datefeld [labelText]="'Führerscheindatum vom VN'"
                       name="fuehrerscheindatum"
                       [isRequired]="true"
                       (valeurChange)="datefeld($event)"
                       [(valeur)]="kvzVersicherung.fuehrerscheindatum"
                       [submittedAlready]="submittedAlready">

         </app-datefeld>

         <app-combobox [labelText]="'Zahlweise Neuvertrag'"
                       name="zahlweiseneuvertraege"
                       [listValues]="zahlweiseneuvertraege"
                       [(valeur)]="kvzVersicherung.zahlweiseneuvertrag"
                       [isRequired]="true"
                       [submittedAlready]="submittedAlready">

         </app-combobox>
         <app-combobox [labelText]="'Tarifgruppe'"
                       [listValues]="tarifgruppe" name="tarifgruppe"
                       [isRequired]="true"
                       [(valeur)]="kvzVersicherung.tarifgruppe_ein"
                       [submittedAlready]="submittedAlready">

         </app-combobox>
       </div>

       <!-- Branche VN -->

       <app-combobox [labelText]="'Branche VN'"
                     [listValues]="brancheVN"
                      name="brancheVN"
                     [isRequired]="true"
                     [(valeur)]="kvzVersicherung.branche_ein"
                     [submittedAlready]="submittedAlready">

       </app-combobox>
       <!-- Berufsgruppe-->
       <app-combobox [labelText]="'Berufsgruppe VN'"
                     [listValues]="berufsgruppe"
                     name="berufsgruppe"
                     [isRequired]="true"
                     [(valeur)]="kvzVersicherung.berufsgruppe_ein"
                     [submittedAlready]="submittedAlready">

       </app-combobox>

       <!-- Fahrzeughalter -->

           <app-combobox [labelText]="'Fahrzeughalter'"
                         [listValues]="fahrzeughalter"
                         [isRequired]="true" name="fahrzeughalter"
                         [(valeur)]="kvzVersicherung.fahrzeughalter_ein"
                         (fahrzeughalterKind)="fahrzeuhalterKind($event)"
                         [submittedAlready]="submittedAlready">
           </app-combobox>
       <!-- diese Bedingung ist nur wenn das gewählte Element gleich choice ist(siehe in der Vater Componente) -->
       <div  *ngIf="fahrzeuhalterKindChoice">
                             <!--[choice] = fahrzeuhalterKindChoice = damit bekommt das Kind die Steuerdaten von seiner Eltern -->
         <app-fahrzeug-kind   [submittedAlready]="submittedAlready" [fahrzeugKind]="kvzVersicherung.fahrzeugKind" [choice]="fahrzeuhalterKindChoice"> </app-fahrzeug-kind>
       </div>


       <!-- Einzugsermaechtigungsverfahren? -->

       <app-checkbox [labelText]="'Einzugsermächtigungsverfahren?'"
                      name="einzugsermaechtigungsverfahren"
                     [submittedAlready]="submittedAlready"
                     [(valeur)]="kvzVersicherung.einzugsermaechtigungsverfahren">

       </app-checkbox>

       <!-- eVB-Ue Erstellung durch Versicherer -->

       <app-radio [labelText]="'eVB-ü Erstellung durch Versicherer'"
                  [isFragezeichen]="true"
                  name="eVBueErstellungVersicherer"
                  [beschreibung]="[{descript:'ja'},{descript: 'nein'}]"
                  [isRequired]="true"  [submittedAlready]="submittedAlready"
                  [(valeur)]="kvzVersicherung.eVBueErstellungVersicherer">
       </app-radio>

       <app-radio [labelText]="'Wurde bereits eine eVB erstellt?'"
                   name="eVBErstellt"
                  [isFragezeichen]="true"
                  [beschreibung]="[{descript:'ja'},{descript: 'nein'}]"
                  [isRequired]="true"  [submittedAlready]="submittedAlready"
                  [(valeur)]="kvzVersicherung.eVBErstellt">
       </app-radio>

       <!-- Deckungsumfang -->
       <app-deckungsumfang [submittedAlready]="submittedAlready" [deckungsumfang]="kvzVersicherung.deckungsumfang"></app-deckungsumfang>

       <!--Fahrzeugangaben -->

       <app-fahrzeugangaben [submittedAlready]="submittedAlready" [fahrzeuganbagen]="kvzVersicherung.fahrzeugAngaben"></app-fahrzeugangaben>


       <app-nutzerprofil  [submittedAlready]="submittedAlready" [nutzerProfil]="kvzVersicherung.nutzerProfil"></app-nutzerprofil>


    <div class="edit required">
      <button (click)="changed()">print</button>
      <button type="submit">Speichern</button>
      <button type="button" routerLink="/">Abbrechen</button>
    </div>
  </form>
</div>

