  <div class="editdiv">
    <span *ngIf="isFragezeichen">
        <img id="infoSymbol" src="/assets/images/info.png" class="infoImage">

    </span>
          <label class="edit {{!isRequired ? '' : 'required'}}" >
            {{labelText}}
          </label>
    <span class="value ">
      <table>
                  <tr *ngFor="let entry of beschreibung; let i = index" class="radio-inline">
                              <input [(ngModel)]="valeur"
                                     #fahr="ngModel"
                                     class="form-control"
                                     required
                                     name="{{labelText}}"
                                     (change)="update()"
                                     type="radio"
                                     [name]="'radiogroup'+ currentEntry"
                                     [value] = "entry">
                                             {{entry.descript}}
                    <div *ngIf=" (i === beschreibung.length - 1) &&
                                  fahr.invalid &&
                                 (fahr.dirty || fahr.touched || submittedAlready) &&
                                 isRequired"
                         class="errors notValide" style="color: #a31f42;">
                           Wert erforderlich
                  </div>
                  </tr>
      </table>
	</span>

  </div>

