.panel {
  margin-bottom: 10px;
  background-color: #F3F2F2;
  border-color: #C0C0C0;
  border-width: 1px;
  border-style: solid;
  padding: 1px;
}


.panel-header {
  border-width: 0;
  border: none;
  padding: 0;
  background-image: none;
  background-color: #BC0045;
  background-repeat: repeat-x;
  background-position: top;
  font-size: 14px;
  padding: 4px !important;
  color: #FFF;
  font-weight: bold;
  font-family: Arial,Verdana,sans-serif;
}

.headerInfoImage {
  float: left;
  margin: 0 4px 0 2px;
}

div{
  display: block;
}

.panel-body {
  font-size: 11px;
  color: #000;
  font-family: Arial, Verdana, sans-serif;
  padding: 10px;
  color: #a31f42
}
.editdiv{
  color: #243746;
  line-height: 30px;
  border-bottom: none;
  width: 98%;
  background: #fff;
  padding: 3px 8px;
  display: inline-block;
  margin-bottom: 2px;
  font-size: 12px;
  -webkit-transition: background .25s ease-in-out;
}
label{
  cursor: default;
  line-height: 20px;
}
label.edit{
  margin: 0;
  display: block;
  float: left;
  width: 230px;
}
label.editinfo.required{
  color: #a31f42;
}
label.edit.required{
  color: #a31f42;
}
label.editinfo{
  display: block;
  float: left;
  width: 188px;
  padding-left: 5px;
}
edit.required{
  color: #a31f42;
}
.editdiv label{
  line-height: 20px;
}
.editdiv select{
  line-height: 20px;
}
.editdiv input{
  background-color: #eef0f1;
  border: 1px solid #e0e1e2;
  line-height: 20px;
}

input{
  width: 418px;
  margin-right: 4px;
  font-size: 12px;
  color: #000000;
  padding: 2px 2px 3px 2px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
  text-rendering: auto;
  -webkit-writing-mode: horizontal-tb !important;
  width: inherit;
  font-size: 12px;
  color: #000000;
  padding: 2px 2px 3px 2px;
  margin: 3px 3px 0px 5px;
  -webkit-appearance: radio;
  box-sizing: border-box;
  cursor: default;
  -webkit-rtl-ordering: logical;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  font: 400 13.3333px Arial;
  -webkit-writing-mode: horizontal-tb !important;

}
select{
  width: 424px;
  margin-right: 4px;
  border: 1px solid #BED6F8;
  font-size: 12px;
  color: #000000;
  padding: 2px 2px 3px 2px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  overflow: visible !important;
  border-radius: 0px;
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: white;
  cursor: default;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
  -webkit-writing-mode: horizontal-tb !important;
}
.content img {
  border: 0px;
}
.infoImage{
  float: left;
  margin-top: 3px;
}

.panel-header input.posRight {
  margin-right: 6px;
  margin-top: 1px;
}

.panel-header .posRight {
  float: right;
}

.loginpage {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}
input[type="checkbox" i] {
  margin: 3px 3px 3px 4px;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  background-color: initial;
  cursor: default;
}

.radio-inline{
  display: inline-block;
  vertical-align: top;
}
/*.errors.notValide{
  position: absolute;
  left: 30px;

}*/


