<!--The content below is only a placeholder and can be replaced.-->

    <div class="container spacer">
      <!--<button *ngFor="let route of routes"-->
              <!--[routerLink]="route.url"-->
              <!--class="btn btn-primary"-->
              <!--routerLinkActive="active-link"-->
              <!--[disabled]="isCurrentRoute(route.url)">-->
        <!--{{route.text}}-->
      <!--</button>-->

      <!--<button routerLink="/about" class="btn btn-primary">Contacts</button>-->
      <!--<button routerLink="/contacts" class="btn btn-primary" [disabled]="isCurrentRoute('/contacts')">Liste des Contacts</button>-->
      <!--<button routerLink="/erstellen-contacts" class="btn btn-primary" [disabled]="isCurrentRoute('/erstellen-contacts')">Nouveau Contact</button>-->
   </div>
<!--hier werden meine Router-Componenten hinzugefügt-->
<div class="container spacer">
<router-outlet>

</router-outlet>
</div>


