<div class="panel ">
    <div class="panel-body " id="body">

        <div *ngIf="choice == 'Ehepartner in häuslicher Gemeinschaft' || choice == 'Lebenspartner in häuslicher Gemeinschaft'
                    || choice == 'behindertes Kind' || choice == 'Sonstiges'  || choice == 'Firmeninhaber' || choice == 'behinderter Elternteil des VN'
                    || choice == 'Werksangehöriger eines Autoherstellers/-importeurs'">

                <app-combobox [labelText]="'Anrede'"
                              [isRequired]="true"
                              [listValues]="anrede"
                              name="anrede"
                              [(valeur)]="fahrzeugKind.anrede_ein"
                              [submittedAlready]="submittedAlready">
                </app-combobox>
                <app-combobox [labelText]="'Familienstand'"
                              [listValues]="familienstand"
                              [isRequired]="true"
                              name="familienstand"
                              [(valeur)]="fahrzeugKind.familienstand_ein"
                              [submittedAlready]="submittedAlready">
                </app-combobox>
          <div class="editdiv">
              <app-textfeld [labelText]="'Vorname, Nachname'"
                            [isRequired]="true"
                            [cssValue]="'kleine'"
                            name="vorname"
                            [vorUndNachname]="true"
                            [submittedAlready]="submittedAlready"
                            [(valeur)]="fahrzeugKind.vorname">

              </app-textfeld>
              <app-textfeld
                    [isRequired]="true"
                    [cssValue]="'kleine'"
                    name="nachname" class="relative"
                    [submittedAlready]="submittedAlready"
                    [(valeur)]="fahrzeugKind.nachname">

              </app-textfeld>

          </div>

                <app-combobox [labelText]="'Berufsgruppe'"
                              [isRequired]="true"
                              [listValues]="berufsgruppe"
                               name="berufsgruppe"
                              [(valeur)]="fahrzeugKind.berufsgruppe_ein"
                              [submittedAlready]="submittedAlready">
                </app-combobox>
          <div class="editdiv">
                <app-textfeld [labelText]="'Straße, Hausnummer'"
                              [isRequired]="true"
                              [cssValue]="'kleine'"
                               name="strasse"
                              [submittedAlready]="submittedAlready"
                              [(valeur)]="fahrzeugKind.strasse">

                </app-textfeld>
                <app-textfeld name="hausnummer"
                              [cssValue]="'fahrzeugHausnummer'"
                              [isRequired]="true" class="relative"
                              [submittedAlready]="submittedAlready"
                              [(valeur)]="fahrzeugKind.hausnummer">

                </app-textfeld>
          </div>

          <div class="editdiv">
                <app-textfeld [labelText]="'Wohnort, PLZ'"
                              [isRequired]="true"
                               name="ort"
                              [cssValue]="'fahrzeugWohnort'"
                              [submittedAlready]="submittedAlready"
                              [(valeur)]="fahrzeugKind.ort">

                </app-textfeld>
                <app-textfeld name="plz" class="relative"
                              [cssValue]="'fahrzeugPLZ'"
                              [submittedAlready]="submittedAlready"
                              [(valeur)]="fahrzeugKind.postleitzahl"
                              [isRequired]="true" >

                </app-textfeld>

          </div>
                <app-datefeld [labelText]="'Geburtsdatum'"
                              [isRequired]="true"
                               name="geburtsdatum"
                              [(valeur)]="fahrzeugKind.geburtsdatum"
                              [submittedAlready]="submittedAlready">

                </app-datefeld>
        </div>
      <div class="panel-body ">
        <div *ngIf="choice =='Firma'">

              <app-combobox [labelText]="'Anrede'"
                            [isRequired]="true"
                            [listValues]="anrede"
                             name="anrede"
                            [(valeur)]="fahrzeugKind.anrede_ein"
                            [submittedAlready]="submittedAlready">
              </app-combobox>
              <app-textfeld [labelText]="'Firmenname'"
                            [isRequired]="true"
                             name="firmenname"
                            [submittedAlready]="submittedAlready"
                            [(valeur)]="fahrzeugKind.firmenname"
                            >

              </app-textfeld>

              <app-combobox [labelText]="'Branche'"
                            [listValues]="branche"
                            [isRequired]="true"
                             name="branche"
                            [(valeur)]="fahrzeugKind.branche_ein"
                            [submittedAlready]="submittedAlready">
              </app-combobox>


          <div class="editdiv">
            <app-textfeld [labelText]="'Straße, Hausnummer'"
                          [isRequired]="true"
                          [cssValue]="'kleine'"
                          name="strasse"
                          [submittedAlready]="submittedAlready"
                          [(valeur)]="fahrzeugKind.strasse">

            </app-textfeld>
            <app-textfeld name="hausnummer"
                          [cssValue]="'fahrzeugHausnummer'"
                          [isRequired]="true" class="relative"
                          [submittedAlready]="submittedAlready"
                          [(valeur)]="fahrzeugKind.hausnummer">

            </app-textfeld>
          </div>

          <div class="editdiv">
            <app-textfeld [labelText]="'Wohnort, PLZ'"
                          [isRequired]="true"
                          name="ort"
                          [cssValue]="'fahrzeugWohnort'"
                          [submittedAlready]="submittedAlready"
                          [(valeur)]="fahrzeugKind.ort">

            </app-textfeld>
            <app-textfeld name="plz" class="relative"
                          [cssValue]="'fahrzeugPLZ'"
                          [submittedAlready]="submittedAlready"
                          [(valeur)]="fahrzeugKind.postleitzahl"
                          [isRequired]="true" >

            </app-textfeld>

          </div>
        </div>
      </div>

      <div class="panel-body ">
        <div *ngIf="choice =='Leasinggeber'">
          <app-combobox [labelText]="'Anrede'"
                        [isRequired]="true"
                        [listValues]="anrede"
                        name="anrede"
                        [(valeur)]="fahrzeugKind.anrede_ein"
                        [submittedAlready]="submittedAlready">
          </app-combobox>
          <app-combobox [labelText]="'Familienstand'"
                        [listValues]="familienstand"
                        [isRequired]="true"
                        name="familienstand"
                        [(valeur)]="fahrzeugKind.familienstand_ein"
                        [submittedAlready]="submittedAlready">
          </app-combobox>
          <app-textfeld [labelText]="'Vorname'"
                        [isRequired]="true"

                        name="vorname"
                        [submittedAlready]="submittedAlready"
                        [(valeur)]="fahrzeugKind.vorname">

          </app-textfeld>
          <app-textfeld [labelText]="'Nachname'"
                        [isRequired]="true"

                        name="nachname"
                        [submittedAlready]="submittedAlready"
                        [(valeur)]="fahrzeugKind.nachname">

          </app-textfeld>

          <app-combobox [labelText]="'Branche'"
                        [listValues]="branche"
                        [isRequired]="true"
                        name="branche"
                        [(valeur)]="fahrzeugKind.branche_ein"
                        [submittedAlready]="submittedAlready">
          </app-combobox>

          <app-textfeld [labelText]="'Straße,'"
                        [isRequired]="true"

                        name="strasse"
                        [submittedAlready]="submittedAlready"
                        [(valeur)]="fahrzeugKind.strasse">

          </app-textfeld>
          <app-textfeld [labelText]="'Hausnummer '"
                        name="hausnummer"
                        [isRequired]="true"
                        [submittedAlready]="submittedAlready"
                        [(valeur)]="fahrzeugKind.hausnummer">

          </app-textfeld>
          <app-textfeld [labelText]="'Wohnort,'"
                        [isRequired]="true"
                        name="ort"
                        [submittedAlready]="submittedAlready"
                        [(valeur)]="fahrzeugKind.ort">
          </app-textfeld>
          <app-textfeld [labelText]="'PLZ'"
                        name="plz"
                        [submittedAlready]="submittedAlready"
                        [(valeur)]="fahrzeugKind.postleitzahl"
                        [isRequired]="true" >
          </app-textfeld>


          <app-datefeld [labelText]="'Geburtsdatum'"
                        [isRequired]="true"
                        name="geburtsdatum"
                        [(valeur)]="fahrzeugKind.geburtsdatum"
                        [submittedAlready]="submittedAlready">
          </app-datefeld>
        </div>
      </div>
  </div>
</div>
