

<div class="editdiv">
  <span *ngIf="isFragezeichen">
      <img id="infoSymbol" src="/assets/images/info.png" class="infoImage">
  </span>
  <label class="edit {{!isRequired ? '' : 'required'}}" >
    {{labelText}}
  </label>
  <span>
    <!-- -->
    <select [(ngModel)]="valeur"
             class="form-control"
             name="value"  required
              #fahr="ngModel"
              #test
             (input)="fahrzeughalterKind.emit(test.value); valeurChange.emit(test.value); ">
      <option value="" disabled selected *ngIf="!iswaehlenNotDefault">Bitte wählen Sie</option>
      <option *ngFor="let v of listValues">{{v.name}}
      </option>
    </select>
     <div  *ngIf="fahr.invalid && (fahr.dirty || fahr.touched || submittedAlready) && isRequired" class="errors" style="color: #a31f42;">
        <div *ngIf="fahr.errors['required']">
          Wert erforderlich
        </div>
     </div>

  </span>
</div>


