<div class="panel " id="deckungsumfangAngaben">
  <div class="panel-header " id="header">Deckungsumfang</div>
       <div class="panel-body " id="body">


               <app-combobox [labelText]="' Schadensfreiheitsrabatt Haftpflicht'"
                             [listValues]="schadensfreiheitsrabatte"
                             [isRequired]="true"
                              name="schadensfreiheitsrabatte"
                             [(valeur)]="deckungsumfang.schadensfreiheitsrabatt_Haftpflicht_ein"
                             [submittedAlready]="submittedAlready">

               </app-combobox>

              <app-combobox [labelText]="'SF-Regelung'"
                            [listValues]="sFRegelungen"
                             name="sFRegelungen"
                            [(valeur)]="deckungsumfang.sFRegelung_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'Kasko und Selbstbeteiligung'"
                            [listValues]="kasko_und_selbstbeteiligungen"
                            [isRequired]="true"
                            name="kasko_und_selbstbeteiligungen"
                            [(valeur)]="deckungsumfang.kasko_und_selbstbeteiligung_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'Deckungssummen in der Kfz-Haftpflicht'"
                            [listValues]="deckungssummer_in_derk_kfz_haftpflicht"
                            [isFragezeichen]="true"
                             name="deckungssummer_in_derk_kfz_haftpflicht"
                            [(valeur)]="deckungsumfang.deckungssummen_in_der_Kfz_Haftpflicht_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'Schutzbriefleistungen'"
                            [listValues]="schutzbriefleistungen"
                            [isFragezeichen]="true"
                             name="schutzbriefleistungen"
                            [(valeur)]="deckungsumfang.schutzbriefleistungen_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'Verbesserte Zweitwagenregelung für PKW'"
                            [listValues]="verbesserte_zweitwagenregelegung_fuer_pkw"
                            [isFragezeichen]="true"
                             name="verbesserte_zweitwagenregelegung_fuer_pkw"
                            [(valeur)]="deckungsumfang.verbesserte_zweitwagenregelung_fuer_PKW_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'Rabattschutz'"
                            [listValues]="rabattschutz"
                            [isFragezeichen]="true"
                            name="rabattschutz"
                            [(valeur)]="deckungsumfang.rabattschutz_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'Rabattretter für PKW'"
                            [listValues]="rabattretter_fuer_pkw"
                            [isFragezeichen]="true"
                            name="rabattretter_fuer_pkw"
                            [(valeur)]="deckungsumfang.rabattretter_fuer_PKW_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'Fahrerschutz'"
                            [listValues]="fahrerschutz"
                            [isFragezeichen]="true"
                            name="fahrerschutz"
                            [(valeur)]="deckungsumfang.fahrerschutz_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'Werkstattbindung'"
                            [listValues]="werksattbindungen"
                            [isFragezeichen]="true"
                            name="werksattbindungen"
                            [(valeur)]="deckungsumfang.werkstattbindung_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'Auslandsschutz'"
                            [listValues]="auslandsschutzen"
                            [isFragezeichen]="true"
                            name="auslandsschutzen"
                            [(valeur)]="deckungsumfang.auslandsschutz_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'Rabattübertragung'"
                            [listValues]="rabattuebertragungen"
                            [isFragezeichen]="true"
                            name="rabattuebertragungen"
                            [(valeur)]="deckungsumfang.rabattuebertragung_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'Mallorcapolice'"
                            [listValues]="mallorcapolice"
                            [isFragezeichen]="true"
                            name="mallorcapolice"
                            [(valeur)]="deckungsumfang.mallorcapolice_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

              <app-combobox [labelText]="'GAP Deckung'"
                            [listValues]="gap_deckung"
                            [isFragezeichen]="true"
                            name="gap_deckung"
                            [(valeur)]="deckungsumfang.gAP_Deckung_ein"
                            [submittedAlready]="submittedAlready">

              </app-combobox>

      </div>

</div>
