<div class="panel " >
  <div class="panel-header " id="header">Nutzerprofil</div>
  <div class="panel-body "  id="body">


    <app-combobox [labelText]="'Nutzung'"
                  [isRequired]="true"
                  [listValues]="nutzungen"
                  name="nutzungen"
                  [(valeur)]="nutzerProfil.nutzung_ein"
                  [submittedAlready]="submittedAlready">

    </app-combobox>

    <!-- Jaehrliche Fahrleistung -->
    <app-textfeld [labelText]="'Jährliche Fahrleistung'"
                  [isFragezeichen]="true"
                  [isRequired]="true"
                  name="jaehrlicheFahrleistung"
                  [(valeur)]="nutzerProfil.jaehrlicheFahrleistung"
                  [submittedAlready]="submittedAlready">

    </app-textfeld>

    <!-- nutzerKreis -->

    <app-combobox [labelText]="'Nutzerkreis'"
                  [isRequired]="true"
                  [listValues]="nutzerkreis"
                  name="nutzerkreis"
                  [(valeur)]="nutzerProfil.nutzerkreis_ein"
                  [submittedAlready]="submittedAlready">

    </app-combobox>


      <app-radio [labelText]="'VN ist Hauptnutzer'"
                 [isFragezeichen]="true"
                 [beschreibung]="[{descript:'ja'},{descript: 'nein'}]"
                 [isRequired]="true"
                 name="vnHauptnutzer"
                 [(valeur)]="nutzerProfil.vnHauptnutzer"
                 [submittedAlready]="submittedAlready">
     </app-radio>


       <app-radio [labelText]="'VN ist Fahrer'"
                  [isFragezeichen]="true"
                  [beschreibung]="[{descript:'ja'},{descript: 'nein'}]"
                  [isRequired]="true"
                  name="vnFahrer"
                  [(valeur)]="nutzerProfil.vnFahrer"
                  [submittedAlready]="submittedAlready">

    </app-radio>


    <div class="panel-body" *ngFor="let person of weiterPersonen">
      <app-nutzer [submittedAlready]="submittedAlready" (entfernenVon)="entferne(person)" [nutzer]="nutzerProfil.nutzer" ></app-nutzer>
    </div>

    <button  style="display: block; width: 186px;
                background-color: #d6004e; color: white;
                font-size: initial; padding: 2px 10px 2px 10px;
                margin: 10px"  (click)="hinzufuegenWeiterPerson()" >
      Weitere Person hinzufügen
    </button>


    <app-checkbox [labelText]="'Begleitetes Fahren bei VN'"
                  [isRequired]="true"
                  [isFragezeichen]="true"
                  name="begleitetesFahrer"
                  [(valeur)]="nutzerProfil.begleitetesFahrer"
                  [submittedAlready]="submittedAlready">

    </app-checkbox>


    <app-checkbox [labelText]="'Eintrag im Verkehrszentralregister (VN)'"
                  [isFragezeichen]="true"
                  name="eintragImVerkehrszentralregister"
                  [(valeur)]="nutzerProfil.eintragVerkehrszentralregister"
                  [submittedAlready]="submittedAlready">

  </app-checkbox>

    <app-checkbox [labelText]="'Zweitwagen'"
                  name="zweitwagen"
                  [(valeur)]="nutzerProfil.zweitwagen"
                  [submittedAlready]="submittedAlready">

    </app-checkbox>

    <app-combobox [labelText]="'Abstellplatz'"
                  [listValues]="abstellplaetze"
                  [isRequired]="true"
                  name="abstellplaetze"
                  [(valeur)]="nutzerProfil.abstellplatz_ein"
                  [submittedAlready]="submittedAlready">

    </app-combobox>


    <!-- Wohneigentum -->
    <app-combobox [labelText]="'Wohneigentum'"
                  [listValues]="wohneigentueme"
                  name="wohneigentueme"
                  [(valeur)]="nutzerProfil.wohneigentum_ein"
                  [submittedAlready]="submittedAlready">

    </app-combobox>


    <app-checkbox [labelText]="'Existenzgründer'"
                  [isFragezeichen]="true"
                  name="existenzgruender"
                  [(valeur)]="nutzerProfil.existenzgruender"
                  [submittedAlready]="submittedAlready">
    </app-checkbox>
    <app-checkbox [labelText]="'  EU-Führerschein'"
                  [isFragezeichen]="true"
                  name="euFuehrerschein"
                  [(valeur)]="nutzerProfil.euFuehrerschein"
                  [submittedAlready]="submittedAlready">

    </app-checkbox>
    <app-checkbox [labelText]="'Betriebsausgabe'"
                  [isFragezeichen]="true"
                  name="betriebsausgabe"
                  [(valeur)]="nutzerProfil.betriebsausgabe"
                  [submittedAlready]="submittedAlready">

    </app-checkbox>


    <!-- Finanzierung -->
    <app-combobox [labelText]="'Finanzierungsart'"
                  [listValues]="finanzierungsarte"
                  [isRequired]="true"
                  name="finanzierungsarte"
                  [(valeur)]="nutzerProfil.finanzierungsart_ein"
                  [submittedAlready]="submittedAlready">

    </app-combobox>

    <app-checkbox [labelText]="'VN steuerabzugsberechtigt'"
                  [isFragezeichen]="true"
                  name="vnSteuerabzugsberechtig"
                  [(valeur)]="nutzerProfil.vnSteuerabzugsberechtig"
                  [submittedAlready]="submittedAlready">

    </app-checkbox>


   <!-- Auslandnutzung -->

    <app-combobox [labelText]="'Nutzung im Ausland'"
                  [listValues]="nutzung_im_Ausland"
                  name="nutzung_im_Ausland"
                  [(valeur)]="nutzerProfil.nutzung_im_Ausland_ein"
                  [submittedAlready]="submittedAlready"
                  [isRequired]="true">

    </app-combobox>

    <app-radio [labelText]="'Saison-Kennzeichen'"
               [isRequired]="true"
               [beschreibung]="[{descript:'Normalzulassung'},{ descript:'Saisonzulassung'},{ descript: 'Wechselkennzeichen'}]"
               name="saisonKennzeichen"
               [(valeur)]="nutzerProfil.saisonKennzeichen"
               [submittedAlready]="submittedAlready">

    </app-radio>

    <app-radio [labelText]="' Vorschäden in den letzten 3 Jahren'"
               [isRequired]="true"
               [beschreibung]="[{descript:'ja'},{descript: 'nein'}]"
               name="vorschaedenLetztenDreiJahren"
               [(valeur)]="nutzerProfil.vorschaedenLetztenDreiJahren"
               [submittedAlready]="submittedAlready">

    </app-radio>

  </div>


</div>
