<div class="panel ">
  <div class="panel-header " id="header">Nutzer</div>
    <div class="panel-body " id="body">

      <app-combobox [labelText]="'Anrede'"
                    [isRequired]="true"
                    [listValues]="anrede"
                    name="anrede"
                    [(valeur)]="nutzer.anrede_ein"
                    [submittedAlready]="submittedAlready">
      </app-combobox>

      <app-textfeld [labelText]="'Vorname'"
                    [isRequired]="true"
                    name="vorname"
                    [submittedAlready]="submittedAlready"
                    [(valeur)]="nutzer.vorname">

      </app-textfeld>
      <app-textfeld [labelText]="'Nachname'"
                    [isRequired]="true"
                    name="nachname"
                    [submittedAlready]="submittedAlready"
                    [(valeur)]="nutzer.nachname">

      </app-textfeld>
      <app-textfeld [labelText]="'Ort'"
                    [isRequired]="true"
                    name="ort"
                    [submittedAlready]="submittedAlready"
                    [(valeur)]="nutzer.ort">

      </app-textfeld>
      <app-textfeld [labelText]="'Postleitzahl'"
                    name="postleitzahl"
                    [submittedAlready]="submittedAlready"
                    [(valeur)]="nutzer.postleitzahl">

      </app-textfeld>

      <app-combobox [labelText]="'Bezug zu VN'"
                    [isRequired]="true"
                    [listValues]="bezugVN"
                    name="bezug_zu_VN"
                    [(valeur)]="nutzer.bezug_ein"
                    [submittedAlready]="submittedAlready">

      </app-combobox>
      <app-combobox [labelText]="'Berufsgruppe'"
                    [isRequired]="true"
                    [listValues]="berufsgruppe"
                    name="berufsgruppe"
                    [(valeur)]="nutzer.berufsgruppe_ein"
                    [submittedAlready]="submittedAlready">

      </app-combobox>
      <app-combobox [labelText]="'Familienstand'"
                    [listValues]="familienstand"
                    name="familienstand"
                    [(valeur)]="nutzer.familienstand_ein"
                    [submittedAlready]="submittedAlready">

      </app-combobox>

      <app-radio [labelText]="'Familie'"
                 [isRequired]="true"
                 [beschreibung]="[{descript:'ja'},{descript:'nein'}]"
                 name="familie"
                 [submittedAlready]="submittedAlready"
                 [(valeur)]="nutzer.familie">

      </app-radio>
      <app-radio [labelText]="'Nutzer lebt in häuslicher Gemeinschaft mit VN'"
                 [isRequired]="true"
                 [beschreibung]="[{descript:'ja'},{descript:'nein'}]"
                 name="nutzerLebtInHaeuslicherGemeinschaftMitVN"
                 [submittedAlready]="submittedAlready"
                 [(valeur)]="nutzer.nutzerLebtInHaeuslicherGemeinschaftMitVN">
      </app-radio>

      <app-datefeld [labelText]="'Führerscheindatum'"
                    [isRequired]="true"
                    name="fuehrerscheindatum"
                    [(valeur)]="nutzer.fuehrerscheindatum"
                    [submittedAlready]="submittedAlready">
      </app-datefeld>


      <app-radio [labelText]="'Hat der Nutzer seinen Führerschein in einem Land der EU (+Beitrittsgebiete) erworben?'"
                 [beschreibung]="[{descript:'ja'},{descript: 'nein'}]"
                 name="hatDerNutzerSeinenFuehrerscheinInEinemLandDerEUErworben"
                 [submittedAlready]="submittedAlready"
                 [(valeur)]="nutzer.hatDerNutzerSeinenFuehrerscheinInEinemLandDerEUErworben">

      </app-radio>

      <app-radio [labelText]="'Nutzer hat den Führerschein in den letzten 10 Jahren durchgehend besessen'"
                 [isRequired]="true"
                 [beschreibung]="[{descript:'ja'},{descript: 'nein'}]"
                 name="nutzerHatDenFuehrerscheinInDenLetzten10JahrenDurchgehendBesessen"
                 [submittedAlready]="submittedAlready"
                 [(valeur)]="nutzer.nutzerHatDenFuehrerscheinInDenLetzten10JahrenDurchgehendBesessen">

      </app-radio>

      <app-checkbox [labelText]="'Wohnsitz seit mind. 10 Jahren in BRD?'"
                   [isFragezeichen]="true"
                    name="wohnsitzSeitMind10JahrenInBRD"
                    [submittedAlready]="submittedAlready"
                    [(valeur)]="nutzer.wohnsitzSeitMind10JahrenInBRD">

      </app-checkbox>

      <app-datefeld [labelText]="'Sicherheitstraining absolviert?'"
                    [isFragezeichen]="true"
                    name="sicherheitstrainingAbsolviert"
                    [(valeur)]="nutzer.sicherheitstrainingAbsolviert_ein"
                    [submittedAlready]="submittedAlready">
      </app-datefeld>
      <app-combobox [labelText]="'Nutzung'"
                    [listValues]="nutzungen"
                    [isRequired]="true"
                    name="nutzungen"
                    [(valeur)]="nutzer.nutzung_ein"
                    [submittedAlready]="submittedAlready">
      </app-combobox>

      <app-datefeld [labelText]="'Geburtsdatum'"
                    [isRequired]="true"
                    name="gebutsdatum"
                    [(valeur)]="nutzer.geburtsdatum"
                    [submittedAlready]="submittedAlready">
      </app-datefeld>

      <app-radio [labelText]="'Begleitetes Fahren bei Nutzer'"
                 [isRequired]="true"
                 [beschreibung]="[{descript:'ja'},{descript: 'nein'}]"
                 name="begleitetesFahrenBeiNutzer"
                 [submittedAlready]="submittedAlready"
                 [(valeur)]="nutzer.begleitetesFahrenBeiNutzer">

      </app-radio>
      <app-radio [labelText]="'Eintrag im Verkehrszentralregister (Flensburg)'"
                 [isRequired]="true"
                 [beschreibung]="[{descript:'ja'},{descript: 'nein'}]"
                 name="eintragImVerkehrszentralregister"
                 [submittedAlready]="submittedAlready"
                 [(valeur)]="nutzer.eintragImVerkehrszentralregister">

      </app-radio>
      <app-radio [labelText]="'Ist ein Hauptnutzer'"
                 [isRequired]="true"
                 [beschreibung]="[{descript:'ja'},{descript: 'nein'}]"
                 name="istEinHauptnutzer"
                 [submittedAlready]="submittedAlready"
                 [(valeur)]="nutzer.istEinHauptnutzer">

      </app-radio>
      <button  type="submit" (click)="entfernenVon.emit()">
              Diesen Nutzer entfernen
      </button>
    </div>
</div>
