<div class="panel">
  <div class="panel-header ">
    <span>
      <label>{{vertragsart}}</label>
      <label class="posRight">Kein bestehender Vertrag</label>

     <input  type="checkbox"
             [ngModel]="neuvertrag"
             (ngModelChange)="toggleNeuvertrag($event)"
             class="posRight">
    </span>
  </div>

  <!--NeuerVertrag-------------------------------------------------------------->
  <div  *ngIf="neuvertrag" class="panel-body ">
    <div>

    </div>
  </div>

  <div  *ngIf="!neuvertrag" class="panel-body ">
  <div>

      <!-- Versicherungsgesellschaften -->
      <app-combobox [labelText]="'Versicherungsgesellschaft'"
                    [listValues]="versicherungsgeselschaft"
                    [isRequired]="true"
                    name="versicherungsgeselschaft"
                    [(valeur)]="bestehenderVertrag.versicherungsgesellschafte_ein"
                    [submittedAlready]="submittedAlready">
      </app-combobox>

      <!-- versicherungsscheinnummer -->

      <app-textfeld [labelText]="'Versicherungsschein-Nr.'"
                    name="versicherungscheinNr"
                    [(valeur)]="bestehenderVertrag.versicherungscheinNr"
                    [submittedAlready]="submittedAlready" >
      </app-textfeld>

      <!-- Vertragsbeginn -->

<app-datefeld [labelText]="'Vertragsbeginn'"
              [isRequired]="true"
              name="vertragsbeginn"
              [(valeur)]="bestehenderVertrag.vertragsbeginn"
              [submittedAlready]="submittedAlready">

</app-datefeld>

<!-- Vertragsende -->

<app-datefeld [labelText]="'Vertragsende'"
              [isRequired]="true"
              name="vertragende"
              [(valeur)]="bestehenderVertrag.vertragende"
              [submittedAlready]="submittedAlready">
</app-datefeld>

<app-textfeld [unit]="' €'"
              [labelText]="'Beitrag brutto (gem. Zahlweise)'"
              name="beitragBrutto"
              [isRequired]="true"
              [(valeur)]="bestehenderVertrag.beitragBrutto"
              [submittedAlready]="submittedAlready">
</app-textfeld>

<!-- Zahlweise -->

<app-combobox [labelText]="'Zahlweise'"
              [listValues]="zahlweise"
              [isRequired]="true"
              name="zahlweise"
              [(valeur)]="bestehenderVertrag.zahlweise_ein"
              [submittedAlready]="submittedAlready">
</app-combobox>

<!-- Kündigung -->
<app-combobox [labelText]="'Kündigung'"
              [listValues]="kuendigung"
              name="kuendigung"
              [isRequired]="true"
              [(valeur)]="bestehenderVertrag.kuendigung_ein"
              [submittedAlready]="submittedAlready">
</app-combobox>

<!-- Versicherungsgesellschaft anschreiben? -->

<app-checkbox [labelText]="'Versicherungsgesellschaft anschreiben?'"
              [isFragezeichen]="true"
              name="versicherungsgesellschaftAnschreiben"
              [submittedAlready]="submittedAlready"
              [(valeur)]="bestehenderVertrag.versicherungsgesellschaftAnschreiben">
</app-checkbox>

</div>
</div>




</div>


